body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: rgb(0, 0, 0);
}

p {
    font-size: 18px;
    color: rgb(10, 142, 213);
}

button {
    padding: 10px;
    background-color: rgb(5, 181, 8);
    border: none;
    cursor: pointer;
}

header {
    background-color: #15e1e4;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    margin: 20px;
    padding: 15px;
    background-color: lightgray;
}

article {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.543);
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}